version: "3"

services:
  web:
    container_name: nginx
    image: nginx
    depends_on:
      - php
    ports:
      - "8080:80"
    volumes:
      - ./code:/code
      - ./site.conf:/etc/nginx/conf.d/default.conf
    networks:
      - custom-network
  php:
    container_name: php
    build:
      context: ./php
      dockerfile: Dockerfile
    depends_on:
      - mariadb
    volumes:
      - ./code:/code
    networks:
      - custom-network
  mariadb:
    container_name: mariadb
    image: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: mariadocker
    volumes:
      - ./mysql:/var/lib/mysql
      - ./scripts:/docker-entrypoint-initdb.d
    restart: always
    networks:
      - custom-network

networks:
  custom-network:
    driver: bridge
